.homebg{
    background-color: hotpink;
}
.homeInformation{
    padding-top: 100px;
}

.homepic{
    position:static;
    padding: 20px;
}

button{
    margin: 10px;
}

.homeBtn{
    display: flex;
    margin-left: 150PX;
}