.nav-head{
    background-color: brown;
}

.nav-menu{
    padding: 10px;
    margin-right: 250px;
    font-variant: inherit;
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

.nav-menu:hover Nav.Link{
    background-color: khaki;
}